*.graphql linguist-detectable=true
*.graphql linguist-language=graphql
*.graphql text
*.gql linguist-detectable=true
*.gql linguist-language=gql
*.gql text
*.graphql linguist-detectable=true
*.graphql linguist-language=gql
*.graphql text
*.gql linguist-detectable=true
*.gql linguist-language=graphql
*.gql text